
.container {
    padding: 40px;
    background: white;
    object-fit: cover;

  }

  .offersImage{
    min-height: 280px;
    width: 1060px;
    border-radius:14px;
    object-fit: cover;
  }
  

  @media screen and (max-width:576px ){
    .offersImage{
      min-height: 180px;
      width: 100%;
      border-radius:8px;
     object-fit: cover;
    }
  }

  @media screen and (max-width: 370px){
    .offersImage{
      min-height: 120px;
      max-width: 365px;
      border-radius:8px;
     object-fit: cover;
    }
  }
